body{
    background-color: #eac9aa;
}

.navbar{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: #896c68;
    background-color: #f6dda7;
    padding: 10px;
    border-radius: 5px;
    border-width: 10px;
}

.navbar:hover{
    background-color: 	#d4c3b2;
}

.header{
    text-align: center;
}

.image{
    width: 400px;
    height: 400px;
}

h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #82a18f;
}

.game-container {
    /* background-color: #222; */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    top: 70px;
}

#gameCanvas {
    /* background-color: #000; */
    border: 2px solid #555;
    display: block; /* Remove extra space below canvas */
    margin-top: 15px;
}

.score-display {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.game-board{
    position: relative;
    left: 400px;
}

.restart-btn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #896c68;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.restart-btn:hover {
    background-color: #82a18f;
}
